body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #C5B4E3;
}

.content {
    margin: 5px 0;
    font-weight: bold;
}

.border {
    border: 1px solid blueviolet;
    padding: 5px;
    display: inline-block;
}

p {
    margin: 5px 0;
    background-color: blueviolet;
}

input {
    display: block;         
    margin-bottom: 10px;    
    padding: 5px;
    border: 1px solid black;
    width: 250px;           
}

button {
    padding: 8px 15px;
    background-color: blueviolet;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #C5B4E3;
}

