.calculator {
        width: 180px;
        height: fit-content;
        margin: 50px;
        padding: 20px;
        border: 2px solid gray;
        border-radius: 10px;
        background-color: white;
    }

    #display {
        width: 100%;
        height: 60px;
        font-size: 32px;
        text-align: right;
        padding: 10px;
        box-sizing: border-box;
        background: #eee;
        border: none;
    }
    .btn{
        height: 40px;
        width: 40px;
        border-radius: 10px;

    }
    .button{
        height: 40px;
        width: 40px;
        border-radius: 10px;

    }